*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: Poppins,sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color:  rgb(18, 18, 62);
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.03rem;
}
.left{
    font-size: 1.5rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;

}

.purple{
    color: rgb(182, 107, 252);
}
#element{
    color: rgb(182, 107, 252);
}
.firstSection > div{
    width: 35%;

}
.leftSection{
    font-size: 2.5rem;
    margin: 90px 0;

}
.leftSection .btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.leftSection .button{
    padding: 50px 0;
}
.rightSection img{
    width: 80%;
    max-height: 300px;


}
.rightSection{
    max-height: 300px;
}

main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 25px 84px;

}
.secondSection{
    max-width: 80%;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}
.text-gray{
  color:gray;
}
.secondSection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    display: flex;
    margin: 56px;
    
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.vertical-title{
    position: relative;
    top: 60px;
    width: 150px;
    font-size: 14px;
}
.vertical-desc{
    position: relative;
    top: 70px;
    color: grey;
    width: 150px;
    font-size: 9px;
}
.image-top{
    width: 40px;
    position: relative;
    top: -40px;
    left: -9px;
}

.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    
}
footer{
    background-color:  rgb(18, 18, 62);
}
.footer > div{
    width: 223px;
}
footer .footer-text-center{
    text-align: center;
    color: gray;
    padding: 12px 0;
}
footer li{
    list-style: none;
}